<nav class="navbar navbar-fixed-bottom navbar-light bg-faded">
 <li class="nav-item active" style="display:inline">asss</li>
 <li class="nav-item active" style="display:inline">asss</li>
 <li class="nav-item active" style="display:inline">asss</li>
 <li class="nav-item active" style="display:inline">asss</li>
 <li class="nav-item active" style="display:inline">asss</li>
 <li class="nav-item active" style="display:inline">asss</li>
 <li class="nav-item active" style="display:inline">asss</li>
 <li class="nav-item active" style="display:inline">asss</li>
 <li class="nav-item active" style="display:inline">asss</li>
 <li class="nav-item active" style="display:inline">asss</li>
 <li class="nav-item active" style="display:inline">asss</li>
 <li class="nav-item active" style="display:inline">asss</li>
 <li class="nav-item active" style="display:inline">asss</li>
</nav>