<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        Commands
        <a href="#" class="pull-right"> <i class="fa fa-plus"></i> </a>
      </div>
      <div class="card-block">
        <div *ngFor="let ncm of _note_id_commands">
          <nb-app-note-command [note]="ncm"></nb-app-note-command>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            Concepts <a href="#" class="pull-right"> <i class="fa fa-plus"></i> </a>
          </div>
          <div class="card-block">
            <div *ngFor="let ncm of _note_id_concepts">
              <nb-app-note-concept [note]="ncm"></nb-app-note-concept>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            Files
            <a href="#" class="pull-right"> <i class="fa fa-plus"></i> </a>
          </div>
          <div class="card-block">
            <div *ngFor="let nif of _note_id_files">
              <nb-app-note-file [note]="nif"></nb-app-note-file>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>