/*.card-header {
    font-size: 0.8rem;
    padding: 0.3rem 0.5rem 0.3rem;
}

.card-block {
    font-size: 0.8rem;
    padding: 0.3rem 0.5rem 0.3rem;
}

.fa {
    color: #ccc;
}

.table {
    margin-bottom: 0rem;
}*/