<form (submit)="submit()">
  <div class="form-group">
    <label for="id">id</label>
    <input type="text" class="form-control" id="id" [(ngModel)]="_id" name="id" required>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

<form *ngIf="template_modify" (submit)="submit_modify()">
  <div *ngFor="let n of _note.content; let i=index">
    <textarea [(ngModel)]="n.value" cols="100" name="{{i}}" required>{{n.value}}</textarea>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>