<div class="container-fluid">
  <div class="row">
    <div class="col-sm-7" *ngIf="_note_commands_str !='{}'">
      <nb-app-note-command [set_notes]="_note_commands_str"></nb-app-note-command>
    </div>
    <div class="col-sm-5" *ngIf="_note_operations_str !='{}'">
      <nb-app-note-operation [set_notes]="_note_operations_str"></nb-app-note-operation>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6" *ngIf="_note_concepts_str !='{}'">
      <nb-app-note-concept [set_notes]="_note_concepts_str"></nb-app-note-concept>
    </div>
    <div class="col-sm-6" *ngIf="_note_files_str !='{}'">
      <nb-app-note-file [set_notes]="_note_files_str"></nb-app-note-file>
    </div>
  </div>
</div>