<div [ngSwitch]="template()">
  <template [ngSwitchCase]="1">
    <div class="col-sm-5">
      <div class="card">
        <div class="card-header">{{title}}</div>
        <div class="card-block">
          <table class="table table-hover">
            <tr *ngFor="let note of _notes">
              <td><a href="{{note.id}}">{{note.content[0]}}</a></td>
              <td>
                <nb-app-note-template-relation *ngIf="note.relations.length > 0"
                                      [set_relation]="note.relations"></nb-app-note-template-relation>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </template>
  <template [ngSwitchCase]="2">
    <div class="col-sm-7">
      <div class="card">
        <div class="card-header">{{title}}</div>
        <div class="card-block">
          <table class="table table-hover">
            <tr *ngFor="let note of _notes">
              <td *ngFor="let c of note.content">
                <pre>{{c}}</pre>
              </td>
              <td>
                <nb-app-note-template-relation *ngIf="note.relations.length > 0"
                                      [set_relation]="note.relations"></nb-app-note-template-relation>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </template>
</div>