<div class="col-sm-5">
    <div class="card">
        <div class="card-header">{{title}}</div>
        <div class="card-block">
            <table class="table table-hover">
                <tr *ngFor="let note of _notes">
                    <td><a href="{{note.id}}">{{note.content.title}}</a></td>
                    <td>
                        <nb-app-note-relation *ngIf="note.relations.length > 0"
                                              [set_relation]="note.relations"></nb-app-note-relation>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>