<div class="btn-group pull-right">
    <button type="button" class="btn btn-link btn-sm" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
        <i class="fa fa-cog" aria-hidden="true"></i>
    </button>
    <div class="dropdown-menu">
        <div *ngFor="let n of notes">
            <a *ngIf="n.category === 'command'">command {{n.id}}</a>
            <a *ngIf="n.category === 'operation'">operation {{n.id}}</a>
            <a *ngIf="n.category === 'file'">file {{n.id}}</a>
            <a *ngIf="n.category === 'concept'">concept {{n.id}}</a>
        </div>
    </div>
</div>