<ul>
  <li *ngFor="let l of _all_label"
      (click)="select_label(l)"
      [class.selected]="check_label_selected(l)">{{l}}
  </li>
  <li>
    <button class="btn btn-secondary btn-sm" (click)="clear_selected_labels()">clear
    </button>
  </li>
</ul>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>Delete Note</h3>
      <form>
        <input #noteid/>
        <button (click)="deleteNoteId(noteid.value)">delNote</button>
      </form>
    </div>
    <div class="col-sm-12">
      <h3>Add Label</h3>
      <form>
        <input #labelName/>
        <button (click)="addLabelName(labelName.value)">addLabel</button>
      </form>
    </div>
    <div class="col-sm-12">
      <h3>Add Note</h3>
      <nb-edit-add [set_labels]="_selected_labels"></nb-edit-add>
    </div>
    <div class="col-sm-12">
      <h3>Modify Note</h3>
      <nb-edit-modify></nb-edit-modify>
    </div>
  </div>
</div>