<form (submit)="submit()">
  <h3>Command</h3>
  <div class="form-group">
    <label for="content_1">Content 1</label>
    <input type="text" class="form-control" id="content_1" name="contentOne" [(ngModel)]="command.contentOne" required>
  </div>
  <div class="form-group">
    <label for="content_2">Content 2</label>
    <textarea class="form-control" id="content_2" name="contentTwo" [(ngModel)]="command.contentTwo" rows="5" required></textarea>
  </div>
  <!--<div class="checkbox">-->
    <!--<label for="doc">-->
      <!--<input type="checkbox" [checked]="doc" id="doc" (click)="switch_doc()"> doc-->
    <!--</label>-->
  <!--</div>-->
  <!--<div class="form-group" *ngIf="doc">-->
    <!--<label for="doc_name">doc name</label>-->
    <!--<input type="text" class="form-control" id="doc_name" name="doc_name" [(ngModel)]="doc_name">-->
  <!--</div>-->
  <!--<div class="checkbox">-->
    <!--<label for="file"> <input type="checkbox" [checked]="file" id="file" (click)="switch_file()"> file </label>-->
  <!--</div>-->
  <!--<div class="form-group" *ngIf="file">-->
    <!--<label for="file_name">file name</label>-->
    <!--<input type="text" class="form-control" id="file_name" name="file_name" [(ngModel)]="file_name">-->
  <!--</div>-->
  <button type="submit" class="btn btn-default" (click)="test()">Submit</button>
</form>

